.popular-product {
  .popular-product__top {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 30px;
    margin-bottom: 61px;

    &.single-product {
      grid-template-columns: 1fr 1fr;

      @include _768 {
        grid-template-columns: 1fr;
      }
    }

    @include _768 {
      grid-template-columns: 1fr;
      text-align: center;
      margin-bottom: 32px;
    }

    h2 {
      font-family: 'Neo Sans Cyr Light';
      font-size: 40px;
      line-height: 61px;
      color: $c-white;

      @include _768 {
        font-size: 35px;
        line-height: 36px;
      }
    }

    svg {
      width: 100%;

      @include _768 {
        display: none;
      }
    }

    a {
      cursor: pointer;
      color: $c-orange;
      border-bottom: 1px solid $c-orange;
      font-size: 16px;
      line-height: 24px;

      @include _768 {
        display: none;
      }
    }
  }

  .popular-product__wrapper {
    overflow: hidden;
    position: relative;
  }

  .popular-product-sort {
    display: flex;
    gap: 35px;
    justify-content: flex-end;

    @include _768 {
      justify-content: center;
    }

    .button {
      font-size: 18px;
      line-height: 26px;
      color: $c-white;
      padding: 0;
      border: unset;
      border-bottom: 1px solid $c-gray1;
    }

    .button.button-active {
      color: $c-orange;
      border: unset;
      border-bottom: 1px solid $c-orange;
    }
  }

  .swiper-navigation {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    gap: 25px;

    @include _768 {
      margin-top: 37px;
    }

    svg {
      height: 100%;
    }

    .swiper-button-prev, .swiper-button-next {
      all: unset;
      display: flex;
      cursor: pointer;

      &:after {
        content: unset;
      }
    }

    .swiper-button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}