@font-face {
  font-family: 'Neo Sans Cyr Medium';
  src: url('../fonts/NeoSansCyr/NeoSansCyr-Medium.ttf');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/NeoSansCyr/NeoSansCyr-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Cyr Light';
  src: url('../fonts/NeoSansCyr/NeoSansCyr-LIght.ttf');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/NeoSansCyr/NeoSansCyr-LIght.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neo Sans Cyr';
  src: url('../fonts/NeoSansCyr/NeoSansCyr-Regular.ttf');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('../fonts/NeoSansCyr/NeoSansCyr-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}