html, body {
    position: relative;
}

body {
    font-family: "Neo Sans Cyr";
    font-weight: 400;
    font-feature-settings: 'pnum' on, 'lnum' on;
    background: $c-background;
    color: $c-white;
}

.container {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 20px;
    }
}

.fullscreen-container {
    max-width: 1920px;
    margin: 0 auto;
    //padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 20px;
    }
}

.container-xl {
    max-width: 1790px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 20px;
    }
}

.container-xs {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;

    @include _992 {
        padding: 0 20px;
    }
}

.main {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
}

.heading {
    font-weight: 400;
    font-size: 40px;
    line-height: 61px;
    font-family: $fontLight;
    color: $c-white;
    margin-bottom: 21px;

    @include _768 {
        text-align: center;
    }

    @include _480 {
        margin-bottom: 18px;
        font-size: 35px;
        line-height: 36px;
    }
}

.swiper-pagination {
    &-bullet {
        width: 10px;
        height: 10px;
        border: 1px solid $c-gray1;
        background: transparent;

        &-active {
            background-color: $c-gray1;
        }
    }
}

.see-more {
    font-size: 16px;
    color: $c-orange;
    text-transform: uppercase;
    line-height: 24px;
    font-family: $font;
    position: relative;
    flex-shrink: 0;

    &:before {
        display: none;
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $c-orange;
        bottom: 0;
    }

    &:hover {
        &:before {
            display: block;
        }
    }
}

.custom-slider-navigation {

    top: 50%;
    transform: translateY(-25px);
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;

    @include _480 {
        display: flex;
        justify-content: center;
        gap: 13px;
        position: absolute;
        width: 80px;
        bottom: 65px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: unset;
        top: unset;
    }


    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        &::after {
            content: '';
        }

        width: 56px;
        height: 56px;
    }

    .swiper-button-next {
        right: -30px !important;

        @include _992 {
            right: -25px !important;
        }
    }

    .swiper-button-prev {
        left: -30px !important;

        @include _992 {
            left: -25px !important;
        }
    }
}

.text-overlay-image {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}

.iframeVideo {
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.2%;
    position: relative;
}
.iframeVideo iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}

.default-pagination {
    display: flex;
    gap: 17px;
    justify-content: center;
    padding-top: 50px;

    right: 0;
    left: 0;
}

.btn {
    padding: 20px 65px;
    border: 1px solid $c-white;
    font-family: 'Neo Sans Cyr Medium';
    font-size: 16px;
    line-height: 24px;
    color: $c-white;
    text-transform: uppercase;
    width: max-content;

    &:hover {
        border-color: $c-orange;
        color: $c-orange;
    }


    @include _1280 {
        margin: 0 auto;
    }
}

.swiper-button-prev, .swiper-button-next {
    all: unset;
    display: flex;
    cursor: pointer;

    &:after {
        content: unset;
    }
}

.overlay-new, .overlay-discount {
    font-family: 'Neo Sans Cyr Medium';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 10px 22px;
    position: absolute;
    top: 17px;
    left: 19px;
    color: $c-white;
}

.overlay-new, {
    background: rgba(35, 35, 35, 0.7);
    backdrop-filter: blur(5.69277px);
}

.overlay-discount {
    background: $c-orange;
    backdrop-filter: blur(5.69277px);
}