$c-black: #231F20;
$c-blac1: #2A2A2B;
$c-blac2: #202020CC;
$c-white: #fff;
$c-background: #38393D;
$c-gray: #D9D9D9;
$c-orange: #FF893E;
$c-orange-light: #F47D2D;
$c-gray1: #B5B5B5;
$c-gray2: #4E5058;
$c-gray3: #7C7C7C;
$c-gray4: #AFAFAF;
$c-transparent-dark: #393A3E29;
$c-light-gray: #F9F9F9;

$font: 'Neo Sans Cyr Medium', sans-serif;
$fontLight: 'Neo Sans Cyr Light', sans-serif;

$transition: all .3s ease-in-out;

@mixin _1700 {
    @media (max-width: 1700px) {
        @content;
    }
}

@mixin _1440 {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin _1280 {
    @media (max-width: 1280px) {
        @content;
    }
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }
}


@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin _375 {
    @media (max-width: 375px) {
        @content;
    }
}