.article {
  &__buttons {
    display: flex;
    gap: 17px;
    margin-bottom: 27px;
    @include _768 {
      flex-direction: column;
      margin-bottom: 40px;
    }

    .btn {
      margin: unset;

      @include _480 {
        width: 100%;
        padding: 20px 40px;
      }
    }
  }

  &__photo {
    object-fit: contain;

    &-wrapper {
      display: flex;
      position: relative;
      margin-bottom: 45px;
    }

    &-watermark {
      width: 136px;
      height: 136px;
      position: absolute;
      bottom: 40px;
      right: 40px;

      @include _992 {
        display: none;
      }
    }
  }

  &__text {
    &-wrapper {
      max-width: 1203px;
      line-height: 30px;
      margin-bottom: 115px;

      @include _992 {
        margin-bottom: 60px;
      }

      @include _480 {
        margin-bottom: 40px;
      }

      h1, h2, h3, h4, h5 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 50px;
      }

      p:not(:last-child) {
        margin-bottom: 40px;
      }

      ul, ol {
        li {
          padding-left: 12px;
        }
      }


      ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 25px;

        li {
          display: flex;
          position: relative;

          &:before {
            position: absolute;
            margin-top: 11px;
            left: 0;
            content: '';
            width: 7px;
            height: 7px;
            background-color: $c-orange;
            border-radius: 50%;
            display: block;

          }
        }
      }
    }
  }

  .news {
    .container-xs {
      padding: 0;
    }

  }

  .products-wrapper {
    .container {
      display: none;
    }

    .container-xl {
      padding: 0;
    }

    .products__title {
      text-align: left;
    }

    .popular-product {
      @include _480 {
        margin-bottom: 60px;
      }
    }
  }
}