.single-content {
  margin: 33px 0 71px 0;

  @include _992 {
    margin: 26px 0 49px 0;
  }

  .single-content__wrapper {
    display: flex;
    flex-direction: column;
  }

  .single-content__btn-back {
    display: flex;
    align-items: center;
    color: $c-white;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 33px;
    width: max-content;

    @include _992 {
      margin-bottom: 26px;
    }

    svg {
      margin-right: 7px;
    }
  }

  h1 {
    font-family: 'Neo Sans Cyr Light';
    font-size: 30px;
    line-height: 42px;
    color: $c-white;
    margin-bottom: 31px;
  }

  .single-content__data {
    display: grid;
    grid-template-columns: 690px 1fr;
    gap: 56px;
    height: 100%;

    @include _1440 {
      grid-template-columns: 500px 1fr;
    }

    @include _1280 {
      grid-template-columns: 100%;
    }

    @include _992 {
      gap: 50px;
    }
  }

  .single-content__data-left {
    position: relative;
  }

  .single-content__data-right {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .data-right-top {
      display: flex;
      justify-content: space-between;
      gap: 36px;
      margin-bottom: 30px;

      @include _992 {
        margin-bottom: 27px;
      }

      p {
        font-size: 18px;
        line-height: 21px;
        color: $c-gray3;
      }

      a {
        font-family: 'Neo Sans Cyr Medium';
        font-size: 16px;
        line-height: 24px;
        color: $c-orange;
        border-bottom: 1px solid $c-orange;
        text-transform: uppercase;
      }
    }

    h2 {
      font-size: 30px;
      line-height: 38px;
      color: $c-white;
      margin-bottom: 21px;
    }

    .data-right-characteristics-title {
      color: $c-white;
      font-size: 18px;
      line-height: 21px;
      padding: 10px 20px;
      background: $c-gray2;
      margin-bottom: 24px;
    }

  }

  .productSwiperTop {
    overflow: hidden;
    position: relative;
    align-items: center;
  }

  .slide-top {
    position: relative;
    width: 100%;
    height: auto;
    background: $c-gray2;

    img {
      height: 100%;
      max-height: 400px;
      object-fit: contain;
      padding: 75px;

      @include _768 {
        max-height: 255px;
      }
    }
  }

  .productSwiperBottom {
    align-items: center;
    margin-top: 15px;
    overflow: hidden;

    @include _992 {
      margin-top: 57px;
    }

    .swiper-wrapper {
      position: relative;
    }
  }

  .slide-bottom {
    position: relative;
    width: 100%;
    height: auto;
    background: $c-gray2;
    cursor: pointer;
    border: 1px solid $c-gray2;
    max-height: 160px;

    img {
      height: 100%;
      max-height: 160px;
      object-fit: contain;
      padding: 35px;

      @include _768 {
        padding: 10px;
      }
    }

    &.swiper-slide-thumb-active {
      border: 1px solid $c-orange;
    }
  }

  .swiper-button-prev {
    position: absolute;
    top: 475px;
    left: -24px;
    z-index: 10;

    @include _992 {
      top: 380px;
      right: 51%;
      left: unset;
    }

    @include _768 {
      top: 236px;
    }
  }

  .swiper-button-next {
    position: absolute;
    top: 475px;
    right: -24px;
    z-index: 10;

    @include _992 {
      top: 380px;
      left: 51%;
      right: unset;
    }

    @include _768 {
      top: 236px;
    }
  }

  @include _992 {
    .swiper-button-prev, .swiper-button-next {
      svg {
        width: 57px;
        height: 57px;
      }
    }
  }

  .data-right-characteristics-group {
    .data-right-characteristic {
      display: grid;
      grid-template-columns: max-content 1fr 110px;
      gap: 10px;

      @include _480 {
        align-items: flex-end;
      }

      &:last-child {
        padding-bottom: 20px;
      }

      &.js-hidden {
        display: none;
      }
    }

    .characteristic-separator {
      border-bottom: 1px dashed $c-gray7;
      margin-bottom: 8px;
      margin-top: 17px;
      height: max-content;
    }

    .characteristic-name {
      color: $c-white;
      font-size: 18px;
      line-height: 26px;

      @include _480 {
        max-width: 200px;
      }
    }

    .characteristic-value {
      color: $c-white;
      font-size: 16px;
      line-height: 26px;
      width: 110px;
    }
  }

  .data-right-all {
    margin-top: 12px;
    font-family: 'Neo Sans Cyr Medium';
    font-size: 16px;
    line-height: 24px;
    color: $c-white;
    text-transform: uppercase;
    padding: 0;
    text-align: start;
    width: max-content;
    border-bottom: 1px solid $c-white;
  }
}