.fullscreen-slider {
  margin-bottom: 150px;

  @include _480 {
    margin-bottom: 45px;
  }

  .custom-slider-navigation {
    display: none;

    @include _480 {
      display: flex;
    }
  }

  .custom-slider-navigation {
    bottom: -40px;
    width: 70px;
    margin: 0 auto;
    top: unset;
    display: block;

    @include _480 {
      bottom: 70px;
    }
  }

}