.breadcrumb {
  margin-top: 45px;
  margin-bottom: 30px;
  color: $c-gray;

  @include _768 {
    display: none;
  }

  &__list {
    display: flex;
    position: relative;
    gap: 20px;
  }

  &__item {
    position: relative;
    padding-right: 20px;
    &:not(:last-child)::after {
      content: '';
      width: 6px;
      height: 6px;
      position: absolute;
      background-color: $c-gray;
      right: 0;
      top: 10px;
      border-radius: 50%;
    }

    &:last-child {
      .breadcrumb__link {
        color: $c-white;
      }
    }
  }

  &__link {
    display: block;
    color: inherit;
  }
}