.video-module {
  margin-top: 65px;
  position: relative;
  margin-bottom: 90px;

  @include _480 {
    margin-top: 35px;
    margin-bottom: 60px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;

    @include _480 {
     justify-content: center;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin-right: 15px;
    order: -1;
    margin-bottom: 0;

    @include _480 {
      margin-right: 0;
    }
  }

  &__see-more {
    @include _480 {
      display: none;
    }
  }

  .text-overlay-image {
    top: -40px;

    @include _1440 {
      display: none;
    }
  }
}

