.big-overlay-card {
  display: block;
  max-width: 686px;
  height: 100%;
  min-width: 341px;
  width: 100%;

  position: relative;

  &:hover {
    & .news-card__title {
      color: $c-orange-light;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    @include _480 {
      margin-top: 18px;
    }

    .right-arrow {
      margin-left: 10px;
    }
  }

  &__title {
    overflow: hidden;

    color: $c-white;
    font-size: 18px;
  }


  &:hover &__overlay {
    background-color: $c-orange-light;
  }

  &__overlay {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: $c-transparent-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;


    .right-arrow {
      margin-left: 10px;
    }

    color: $c-white;
    font-size: 20px;
    line-height: 23px;

    @include _992 {
      padding: 15px 25px;
      font-size: 16px;
    }
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__image {
    display: block;
    height: 100%;
    object-fit: contain;
    min-height: 250px;
  }
}