.reviews-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $c-gray2;
  max-width: 674px;
  padding: 30px 80px 45px 80px;
  color: $c-white;

  @include _480 {
    gap: 15px;
    padding: 30px 25px 30px 25px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__author-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    background-color: $c-background;
    background-position: center;
    background-size: contain;

    @include _480 {
      min-width: 60px;
      height: 60px;
      width: 60px;
    }
  }

  &__pub-date {
    color: $c-gray4;
  }
}